.my-h1 {
    font-size: 20px;
    
  }

  .my-h2 {

    font-size: 20px;
  }
  @media only screen  
  and (max-width : 390px) {  
    .my-h1 {
        font-size: 14px;
        
      }
      .my-h2 {

        font-size: 13px;
      }
  } 